*{
    color: white;
}

body{
    background-color: rgba(0,0,10,0.98);
}

.darkInput{
    background-color: rgba(0,0,0,0);
}

.darkInput :focus {
    background-color: rgba(0,0,0,0);
}

.error-box{
    background-color: rgba(255,50,50,0.3);
    display: none;
}
