<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1> Register Webpage </h1>

        <form action="api/register" method="post">

            <!--TODO : give style and structure to register form-->

            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username">

            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email">

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">

            <label for="">Confirm password</label>
            <input type="password" name="c-password" placeholder="Confirm password">

            <button type="submit">Register</button>

        </form>

    </body>
</html>